@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    min-height: 100vh;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003E88;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }

  form {
    /* display: flex; */
    border-radius: 6px;
    padding: 50px;
    /* align-items: center;  */
    position: relative;
    width: 500px;
    background-color: #ffffff;
  }

  label {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .input-title {
    width: 205px;
    margin-right: 55px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
  }

  .input, .button, .select, .checkbox-wrapper, .file-selector {
    width: 350;
  }

  .input {
    border: 2px solid #009FE2;
    border-radius: 6px;
    padding: 10px 15px;
    background-color: transparent;
    color: #000000;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    -webkit-appearance: none;
    appearance: none;
  }

  .input:focus {
    border-color: #E6007D;
    outline: none;
  }

  option {
    align-items: center;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
  }

  .button {
    align-items: center;
    display: block;
    min-width: 210px;
    border: 2px solid transparent;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    padding: 9px 15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-family: inherit;
    transition: background-color 0.2s linear;
  }

  .button:hover {
    align-items: center;
    background-color: #E6007D;
    border: #E6007D;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }

  .button:focus-visible {
    align-items: center;
    border: 2px solid #E6007D;
    outline: none;
  }

  .button:focus {
    align-items: center;
    /*  */
    border: 2px solid #A92A98;
    outline: none;
  }

  .button-yellow {
    align-items: center;
    background-color: #009FE2;

  }

  .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .hidden {
    display:none;
  }

  #loader {
    width: 350px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #E6007D;
  }

  @media (max-width: 768px) {
    body {
      padding: 30px;
    }

    label {
      display: block;
    }

    .input-title {
      margin-right: auto;
      margin-bottom: 10px;
    }

    .input, .button, .select, .checkbox-wrapper, .file-selector, .input-title {
      display: block;
      width: 100%;
    }

    #loader {
      width: 100%;
    } 
  }